Thumbs.db
Desktop.ini
.DS_Store
*.log
.vscode/
/ACTUALIZACIONES/.tmp/
/ACTUALIZACIONES/PENDIENTES/*.zip
/ACTUALIZACIONES/PROCESADAS/*.zip
/ACTUALIZACIONES/PENDIENTES/*.html
/ACTUALIZACIONES/PENDIENTES/*.htm
/ACTUALIZACIONES/PROCESADAS/*.html
/ACTUALIZACIONES/PROCESADAS/*.htm
